/* Dashboard wrapper */
.dashboard-wrapper {
  min-height: 100vh;
  max-width: 100%;
  background-color: var(--bg-auth);
}
.dashboard-wrapper-container {
  max-width: 960px;
}
.dashboard-header-title {
  text-align: center;
  padding: 40px 0;
  font-size: 4rem;
  font-weight: 600;
  color: var(--blue-color);
}
/* Dashboard sidebar */
.dashboard-sidebar {
  background: white;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  overflow: hidden;
}
.dashboard-sidebar-item {
  padding: 16px 16px;
  transition: all 0.3s ease-in;
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none;
}
.dashboard-sidebar-item:hover {
  background-color: rgb(239, 243, 248);
  color: var(--text-color);
}
.dashboard-sidebar-item.red {
  color: #e64747;
}

.dashboard-sidebar-item-icon {
}
.dashboard-sidebar-item-title {
  margin-left: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

/* Dashboard container */
.dashboard-container {
}
/* Dashboard header */
.dashboard-header {
}

/* Dashboard body */
.dashboard-body {
}
.dashboard-body-group {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dbdbdb;
  margin-bottom: 15px;
}
.dashboard-body-group-title {
  padding: 16px;
  font-weight: 600;
  font-size: 2rem;
  border-bottom: 1px solid #dbdbdb;
  color: #555;
}
.dashboard-body-group-info {
}
.dashboard-body-group-info-item {
  padding: 16px 16px 0;
  display: flex;
  align-items: center;
}
.dashboard-body-group-info-item:last-child {
  padding-bottom: 16px;
}
.dashboard-body-group-info-item-title {
  font-weight: 600;
  color: #777;
}
.dashboard-body-group-info-item-content {
  margin-left: 16px;
  font-weight: 500;
}

/* Toogle */
.switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 54px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

input:checked + .slider {
  background-color: var(--blue-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Confirm modal */
.dashboard-modal-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  flex: 1;
}
.dashboard-modal-title.red {
  color: #e64747;
}
.dashboard-modal-title.green {
  color: rgb(16, 78, 16);
}
.dashboard-modal-body {
  font-weight: 500;
  font-size: 1.6rem;
  padding: 16px;
  min-height: 120px;
  display: none;
}
.dashboard-modal-body.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dashboard-modal-body-title {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
  text-align: center;
}
.dashboard-modal-body-title.center {
  text-align: center;
  color: #e64747;
}
.dashboard-modal-body-notice {
  margin-top: 8px;
  font-size: 1.4rem;
  color: #777;
  margin-bottom: 8px;
}
.dashboard-modal-body-notice.center {
  text-align: center;
  margin-top: 0px;
}
/* Dashboard Modal Footer */
.dashboard-modal-footer{
  margin: 20px;
  border-radius: 4px;
  padding: 10px;
  background-color: #ececec;
}
.dashboard-modal-body-verify-title{
  text-align: center;
  font-weight: 600;
}
.dashboard-modal-body-verify-error{
  /* background-color: var(--red-bg); */
  color: var(--red-color);
  padding: 8px 16px;
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
}
.dashboard-modal-footer-verify-container{
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
.dashboard-modal-footer-verify-container input{
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  outline: none;
  
}
.dashboard-modal-footer-verify-container button{
  padding: 8px;
  background-color: var(--blue-color);
  outline: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  font-weight: 600;
}

.dashboard-modal-btn__close {
  outline: none;
  border: none;
  padding: 16px;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}
.dashboard-modal-btn__submit {
  outline: none;
  border: none;
  padding: 12px 16px;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  border-radius: 4px;
  background-color: var(--blue-color);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}
