<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0, minimum-scale=1.0"
    />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <script
      type="text/javascript"
      th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/webjars/jquery/jquery.min.js}"
    ></script>
    <title>Dashboard</title>
  </head>
</html>
</head>
<body>
<h2>Current User:</h2>
<p th:text="${user}"></p>
<br>
<h2>User List:</h2>
<!-- <ul>-->
<!--    <li th:each="user : ${userList}">-->
<!--        <p th:text="${user}"></p>-->
<!--    </li>-->
<!--</ul> -->
<!--<p th:if="${isUse2FA==true}">Using 2FA</p>-->
<button  id="toggle-2fa__btn">Test 2fa</button>
<img id="qr-code" src="" alt="Girl in a jacket" >
<br>
<p id="mfa-code"></p>

<div>--------------------------------------------</div>

<!--<div class="otp-field mb-4">-->
<!--  <input type="number" />-->
<!--  <input type="number" disabled />-->
<!--  <input type="number" disabled />-->
<!--  <input type="number" disabled />-->
<!--  <input type="number" disabled />-->
<!--  <input type="number" disabled />-->
<!--</div>-->
<input id="number-digits" placeholder="enter number" >
<button id="verify__btn" >Verify</button>

<script type="text/javascript">
  $(document).ready(function () {
    $("#toggle-2fa__btn").on("click", function () {
        const url = "[[@{/auth/2fa}]]";
        $.ajax({
            url,
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                if(response.data.mfaCode && response.data.qrCode){
                    $('#qr-code').attr('src', response.data.qrCode);
                    $('#mfa-code').text(response.data.mfaCode);
                }
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    });

$("#verify__btn").on("click", function () {
    console.log('1231231312');
        const numberValue = $('#number-digits').val();
        const url = "[[@{/auth/verify2fa}]]";

        params = { numberValue};
        $.post(url, params, function (response) {
            console.log({response})
          }).fail(function () {
            console.error('can not connect to server')
          });
    });
  });
</script>
</body>
</html>
