<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
</head>
<body>
<h1>Please Log In</h1>
<!--th:action="${redirectUrl} ? @{/login?redirectUrl=} + ${redirectUrl} : @{/login}"-->
<form th:action="@{/login}" method="post">
    <div th:if="${param.error}">
        <p class="alert alert-danger" th:text="${session.loginError}"></p>
    </div>
    <input type="text" name="redirectUrl" th:value="${redirectUrl}" />
    <div>
        <input type="text" name="username" placeholder="Username"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="Password"/>
    </div>
    <input type="submit" value="Log in" />
    <a th:href="@{/oauth2/authorization/google}">Login with Google</a>
</form>
</body>
</html>