<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1.0, minimum-scale=1.0"
    />
    <title>SSO</title>
</head>
<body>
<form
        method="post"
        th:action="@{/login}"
        class="form-horizontal"
        role="form"
        th:object="${user}"
>
    <div class="mb-3">
        <label for="email" class="control-label">Email *</label>
        <input type="text"
               id="email"
               name="email"
               th:field="*{email}"
               class="form-control"
               placeholder="Email"
        />
    </div>

    <div class="mb-3">
        <label for="password" class="control-label">Password *</label>
        <input type="password"
               id="password"
               name="password"
               th:field="*{password}"
               class="form-control"
               placeholder="Password"
        />
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Login</button>
<!--        <span> Not registered?-->
<!--            <a th:href="@{/register}"> Register/SignUp Here</a>-->
<!--        </span>-->
    </div>
</form>
</body>
</html>